
 /* Applying outer border  */
body {
  margin-left:400px;
  margin-right: 310px;
  padding: 0;
  border: 4px solid rgb(74, 41, 192);
  width:700px;
  height:1000px
  }

/* Adding text style and color to the html  */
  h2{
    text-decoration: underline;
  }
  h2,h3 {
    text-align: center;
    color: rgb(74, 41, 192);
  } 
  h4 {
    color: rgb(74, 41, 192);
    text-decoration: underline;
  }



/* for applying middle line  */
div .box1 {
  border-right: 4px solid rgb(74, 41, 192); 
}

/* merge two div to form flex box  */
.box {
  display : flex;
  flex-direction : row;
}

.box div {
  width: 50%;
  height: 800px;
  padding: 10px 20px 10px 20px;
}

