*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.container{
  border:2px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 8px grey;
  background-color: rgb(199, 199, 199);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 40%;
  width: 22%;
  margin-top: 100px;
}
h1{
  color: rgb(25, 25, 90);
}
img{
  height: 250px;
  width: 300px;
  margin: 5px;
}